<!DOCTYPE html>
<html>
<head>
  <title>New Page</title>
</head>
<body>
  <h1>New Character Page</h1>

    <form action="/character" method="POST">
      Name: <input type="text" name="name"><br>
      Patronus: <input type="text" name="patronus"><br>
      Blood Status: <input type="text" name="bloodStatus"><br>
      Is Human: <input type="checkbox" name="human"><br>
      <input type="submit">
    </form>
    

</body>
</html>